<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <h6 class="card-subtitle"></h6>
                <div class="row">
                    <div class="col-md-3">                                                                     
                        <label for="changeHourStep">开始时间</label>            
                        <form class="form-inline">                              
                            <div class="form-group">                            
                                <div class="input-group">                       
                                    <input class="form-control" name="dpFrom" [(ngModel)]="dateFrom" ngbDatepicker #dFrom="ngbDatepicker">   
                                    <div class="input-group-append">            
                                        <button class="btn btn-outline-secondary no-shadow" (click)="dFrom.toggle()" type="button">
                                            <i class="fa fa-calendar"></i>      
                                        </button>                               
                                    </div>                                                                     
                                </div>                                                                         
                            </div>                                                                             
                        </form>                                                                                
                    </div>   
                    <div class="col-md-3">                                                                     
                        <label for="changeHourStep">结束时间</label>            
                        <form class="form-inline">                              
                            <div class="form-group">                            
                                <div class="input-group">                       
                                    <input class="form-control" name="dpTo" [(ngModel)]="dateTo" ngbDatepicker #dTo="ngbDatepicker">   
                                    <div class="input-group-append">            
                                        <button class="btn btn-outline-secondary no-shadow" (click)="dTo.toggle()" type="button">
                                            <i class="fa fa-calendar"></i>      
                                        </button>                               
                                    </div>                                                                     
                                </div>                                                                         
                            </div>                                                                             
                        </form>                                                                                
                    </div>   
                    <div class="col-md-3">
                        <label for="changeHourStep">Notification</label>
                        <input id="notification" name="notification" class="form-control" required [(ngModel)]="search.notification" #notification="ngModel">
                    </div>
                    <div class="col-md-2">
                        <label for="changeHourStep">Action</label>
                        <input id="action" name="action" class="form-control" required [(ngModel)]="search.action" #action="ngModel">
                    </div>
                    <div class="col-md-1">
                        <label for="changeSecondStep">&nbsp;</label>
                        <button type="button" class="btn btn-block btn-info" (click)="onSearchClick()">Search</button>
                    </div>
                </div>
				<hr>
  				<ngb-alert *ngIf="successMessage" type="success" [dismissible]="false">{{ successMessage }}</ngb-alert>	
                <div class="table table-responsive smart-table">
                    <ng2-smart-table [settings]="settings" [source]="source" class=""></ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
</div>
