<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <h6 class="card-subtitle"></h6>
                <div class="row">
                    <div class="col-md-1">
                        <label for="changeHourStep">Total</label>
                        <input id="total" name="total" class="form-control" disabled=true [(ngModel)]="search.total" #payee="ngModel">
                    </div>
                    <div class="col-md-1">
                        <label for="changeHourStep">Offset</label>
                        <input id="offset" name="offset" class="form-control" required [(ngModel)]="search.offset" #payee="ngModel">
                    </div>
                    <div class="col-md-1">
                        <label for="changeMinuteStep">Count</label>
                        <input id="count" name="count" class="form-control" required [(ngModel)]="search.count" #payee="ngModel">
                    </div>
                    <div class="col-md-3">
                        <label for="changeMinuteStep">Space</label>
                        <input id="count" name="count" class="form-control" required [(ngModel)]="search.space" #payee="ngModel">
                    </div>
                    <div class="col-md-1">
                        <label for="changeSecondStep">&nbsp;</label>
                        <button type="button" class="btn btn-block btn-info" (click)="onSearchClick()">Search</button>
                    </div>
                </div>
				<hr>
  				<ngb-alert *ngIf="tipSuccess" type="success" [dismissible]="false">{{ tipSuccess }}</ngb-alert>	
  				<ngb-alert *ngIf="tipError" type="danger" [dismissible]="false">{{ tipError }}</ngb-alert>	
                <div class="table table-responsive smart-table">
                    <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustomAction($event)" class=""></ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
</div>
