<div class="row">
    <div class="col-12">
        <ng-template #modalGenerate let-modal>                          
            <div class="modal-header" >                                 
                <h4 class="modal-title">Generate</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>             
                </button>                                               
            </div>                                                                                       
            <div class="modal-body">                                                                     
                <form class="form">                                     
                    <div class="form-group m-t-40 row">                 
                        <label class="col-2 col-form-label">Space</label>
                        <div class="col-10">                            
                            <input class="form-control" type="text" name="space" [(ngModel)]="getModal().space" #space="ngModel">
                        </div>                                          
                    </div>                                              
                    <div class="form-group m-t-40 row">                 
                        <label class="col-2 col-form-label">Count</label>
                        <div class="col-10">                            
                            <input class="form-control" type="text" name="count" [(ngModel)]="getModal().count" #count="ngModel">
                        </div>                                          
                    </div>                                              
                    <div class="form-group m-t-40 row">                 
                        <label class="col-2 col-form-label">Capacity</label>
                        <div class="col-10">                            
                            <input class="form-control" type="text" name="capacity" [(ngModel)]="getModal().capacity" #capacity="ngModel">
                        </div>                                          
                    </div>                                              
                    <div class="form-group m-t-40 row">                 
                        <label class="col-2 col-form-label">Expiry</label>
                        <div class="col-10">                            
                            <input class="form-control" type="text" name="expiry" [(ngModel)]="getModal().expiry" #expiry="ngModel">
                        </div>                                          
                    </div>                                              
                    <div class="form-group m-t-40 row">                 
                        <label class="col-2 col-form-label">Storage</label>
                        <div class="col-10">                            
                            <input class="form-control" type="text" name="storage" [(ngModel)]="getModal().storage" #storage="ngModel">
                        </div>                                          
                    </div>                                              
                    <div class="form-group m-t-40 row">                 
                        <label class="col-2 col-form-label">Profile</label>
                        <div class="col-10">                            
                            <input class="form-control" type="text" name="profile" [(ngModel)]="getModal().profile" #profile="ngModel">
                        </div>                                          
                    </div>                                              
                </form>                                                 
                <ngb-alert *ngIf="modalSuccess" type="success" [dismissible]="false">{{ modalSuccess }}</ngb-alert>
                <ngb-alert *ngIf="modalError" type="danger" [dismissible]="false">{{ modalError }}</ngb-alert>
             </div>                                                      
             <div class="modal-footer">                                  
                <button type="button" class="btn btn-danger" (click)="submitGenerate()">Submit</button>
            </div>                                                      
        </ng-template> 
        <ng-template #modalActivate let-modal>                          
            <div class="modal-header" >                                 
                <h4 class="modal-title">Activate</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>             
                </button>                                               
            </div>                                                                                       
            <div class="modal-body">                                                                     
                <form class="form">                                     
                    <div class="form-group m-t-40 row">                 
                        <label class="col-2 col-form-label">Space</label>
                        <div class="col-10">                            
                            <input class="form-control" type="text" disabled=true name="space" [(ngModel)]="getModal().space" #space="ngModel">
                        </div>                                          
                    </div>                                              
                    <div class="form-group m-t-40 row">                 
                        <label class="col-2 col-form-label">Number</label>
                        <div class="col-10">                            
                            <input class="form-control" type="text" disabled=true name="number" [(ngModel)]="getModal().number" #number="ngModel">
                        </div>                                          
                    </div>                                              
                    <div class="form-group m-t-40 row">                 
                        <label class="col-2 col-form-label">Consumer</label>
                        <div class="col-10">                            
                            <input class="form-control" type="text" name="consumer" [(ngModel)]="getModal().consumer" #consumer="ngModel">
                        </div>                                          
                    </div>                                              
                </form>                                                 
                <ngb-alert *ngIf="modalSuccess" type="success" [dismissible]="false">{{ modalSuccess }}</ngb-alert>
                <ngb-alert *ngIf="modalError" type="danger" [dismissible]="false">{{ modalError }}</ngb-alert>
             </div>                                                      
             <div class="modal-footer">                                  
                <button type="button" class="btn btn-danger" (click)="submitActivate()">Submit</button>
            </div>                                                      
        </ng-template> 
        <ng-template #modalSuspend let-modal>                          
            <div class="modal-header" >                                 
                <h4 class="modal-title">Suspend</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>             
                </button>                                               
            </div>                                                                                       
            <div class="modal-body">                                                                     
                <form class="form">                                     
                    <div class="form-group m-t-40 row">                 
                        <label class="col-2 col-form-label">Space</label>
                        <div class="col-10">                            
                            <input class="form-control" type="text" disabled=true name="space" [(ngModel)]="getModal().space" #space="ngModel">
                        </div>                                          
                    </div>                                              
                    <div class="form-group m-t-40 row">                 
                        <label class="col-2 col-form-label">Number</label>
                        <div class="col-10">                            
                            <input class="form-control" type="text" disabled=true name="number" [(ngModel)]="getModal().number" #number="ngModel">
                        </div>                                          
                    </div>                                              
                    <div class="form-group m-t-40 row">                 
                        <label class="col-2 col-form-label">Ban</label>
                        <div class="col-10">                            
                            <input class="form-control" type="text" name="ban" [(ngModel)]="getModal().ban" #ban="ngModel">
                        </div>                                          
                    </div>                                              
                    <div class="form-group m-t-40 row">                 
                        <label class="col-2 col-form-label">Reason</label>
                        <div class="col-10">                            
                            <input class="form-control" type="text" name="reason" [(ngModel)]="getModal().reason" #reason="ngModel">
                        </div>                                          
                    </div>                                              
                </form>                                                 
                <ngb-alert *ngIf="modalSuccess" type="success" [dismissible]="false">{{ modalSuccess }}</ngb-alert>
                <ngb-alert *ngIf="modalError" type="danger" [dismissible]="false">{{ modalError }}</ngb-alert>
             </div>                                                      
             <div class="modal-footer">                                  
                <button type="button" class="btn btn-danger" (click)="submitSuspend()">Submit</button>
            </div>                                                      
        </ng-template> 
        <ng-template #modalDetail let-modal>                          
        </ng-template> 
 
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <h6 class="card-subtitle"></h6>
                <div class="row">
                    <div class="col-md-1">
                        <label for="changeSecondStep">&nbsp;</label>
                        <button type="button" class="btn btn-block btn-info" (click)="onGenerateClick(modalGenerate)">Generate</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <h6 class="card-subtitle"></h6>
                <div class="row">
                    <div class="col-md-1">
                        <label for="changeHourStep">Total</label>
                        <input id="total" name="total" class="form-control" disabled=true [(ngModel)]="search.total" #payee="ngModel">
                    </div>
                    <div class="col-md-1">
                        <label for="changeHourStep">Offset</label>
                        <input id="offset" name="offset" class="form-control" required [(ngModel)]="search.offset" #payee="ngModel">
                    </div>
                    <div class="col-md-1">
                        <label for="changeMinuteStep">Count</label>
                        <input id="count" name="count" class="form-control" required [(ngModel)]="search.count" #payee="ngModel">
                    </div>
                    <div class="col-md-3">
                        <label for="changeMinuteStep">Space</label>
                        <input id="count" name="count" class="form-control" required [(ngModel)]="search.space" #payee="ngModel">
                    </div>
                    <div class="col-md-1">
                        <label for="changeSecondStep">&nbsp;</label>
                        <button type="button" class="btn btn-block btn-info" (click)="onSearchClick()">Search</button>
                    </div>
                </div>
				<hr>
  				<ngb-alert *ngIf="tipSuccess" type="success" [dismissible]="false">{{ tipSuccess }}</ngb-alert>	
  				<ngb-alert *ngIf="tipError" type="danger" [dismissible]="false">{{ tipError }}</ngb-alert>	
                <div class="table table-responsive smart-table">
                    <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustomAction($event, modalActivate, modalSuspend, modalDetail)" class=""></ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
</div>
